<div class="style-section section-colors">
	<h2>
		<span class="number-label">01</span>
		<span class="section-title">Colors</span>
	</h2>
	{{render "colors"}}
</div>

<div class="style-section section-typography">
	<h2>
		<span class="number-label">02</span>
		<span class="section-title">Typography</span>
	</h2>
	<div class="section-container">
		{{render "typography"}}
	</div>
</div>

<div class="style-section section-buttons">
	<h2>
		<span class="number-label">03</span>
		<span class="section-title">Buttons</span>
	</h2>
	<div class="section-container">
		{{render "buttons"}}
	</div>
</div>

<div class="style-section section-form-controls">
	<h2>
		<span class="number-label">04</span>
		<span class="section-title">Form Controls</span>
	</h2>
	<div class="section-container row">
		{{render "formcontrols"}}
	</div>
</div>

<div class="style-section section-lists">
	<h2>
		<span class="number-label">05</span>
		<span class="section-title">Lists</span>
	</h2>
	<div class="section-container row">
		{{render "lists"}}
	</div>
</div>