<!-- Ungrouped, No Details -->
<div class="component-title">Ungrouped, No details</div>
<div class="component-container">
	<div class="av-list-container">
		<h3 class="av-list-title">Title</h3>
		<ul>
			{{list-item content='List Item 1'}}
			{{list-item content='List Item 2'}}
			{{list-item content='List Item 3'}}
			{{list-item content='List Item 4'}}
		</ul>
	</div>
{{#code-block language='handlebars'}}
&lt;div class="av-list-container"&gt;
	&lt;h3 class="av-list-title"&gt;Title&lt;/h3&gt;
	&lt;ul&gt;
		&#123;&#123;list-item content='List Item 1'&#125;&#125;
		&#123;&#123;list-item content='List Item 2'&#125;&#125;
		&#123;&#123;list-item content='List Item 3'&#125;&#125;
		&#123;&#123;list-item content='List Item 4'&#125;&#125;
	&lt;/ul&gt;
&lt;/div&gt;{{/code-block}}
</div>

<!-- Ungrouped, No Details, Actionable -->
<div class="component-title">Ungrouped, No details, Actionable</div>
<div class="component-container">
	<div class="av-list-container">
		<div class="av-list-title-container">
			<h3 class="av-list-title">Title</h3>
			<button class="av-button">Add Item</button>
		</div>
		<ul>
			{{list-item content='List Item 1'}}
			{{list-item content='List Item 2'}}
			{{list-item content='List Item 3'}}
			{{list-item content='List Item 4'}}
		</ul>
	</div>

{{#code-block language='handlebars'}}
&lt;div class="av-list-container"&gt;
	&lt;div class="av-list-title-container"&gt;
		&lt;h3 class="av-list-title"&gt;Title&lt;/h3&gt;
		&lt;button class="av-button"&gt;Add Item&lt;/button&gt;
	&lt;/div&gt;
	&lt;ul&gt;
		&#123;&#123;list-item content='List Item 1'&#125;&#125;
		&#123;&#123;list-item content='List Item 2'&#125;&#125;
		&#123;&#123;list-item content='List Item 3'&#125;&#125;
		&#123;&#123;list-item content='List Item 4'&#125;&#125;
	&lt;/ul&gt;
&lt;/div&gt;{{/code-block}}
</div>

<!-- Ungrouped, No Details, Actionable, Actionable List Items -->
<div class="component-title">Ungrouped, No details, Actionable, Actionable List Items</div>
	<div class="component-container">
		<div class="av-list-container" >
			<div class="av-list-title-container" >
				<h3 class="av-list-title" > Title </h3>
				<button class="av-button" > Add Item </button>
			</div>
			<ul>
				{{#list-item content='List Item 1'}}
					<button class="av-button-icon" > {{fa-icon "trash-o"}} </button>
					<button class="av-button-icon" > {{fa-icon "pencil"}} </button>
				{{/list-item}}
				{{#list-item content='List Item 2'}}
					<button class="av-button-icon" > {{fa-icon "trash-o"}} </button>
					<button class="av-button-icon" > {{fa-icon "pencil"}} </button>
				{{/list-item}}
				{{#list-item content='List Item 3'}}
					<button class="av-button-icon" > {{fa-icon "trash-o"}} </button>
					<button class="av-button-icon" > {{fa-icon "pencil"}} </button>
				{{/list-item}}
				{{#list-item content='List Item 4'}}
					<button class="av-button-icon" > {{fa-icon "trash-o"}} </button>
					<button class="av-button-icon" > {{fa-icon "pencil"}} </button>
				{{/list-item}}
			</ul>
		</div>
{{#code-block language='handlebars'}}
&lt;div class="av-list-container" &gt;
	&lt;div class="av-list-title-container" &gt;
		&lt;h3 class="av-list-title" &gt; Title &lt;/h3&gt;
		&lt;button class="av-button" &gt; Add Item &lt;/button&gt;
	&lt;/div&gt;
	&lt;ul&gt;
		&#123;&#123;#list-item content='List Item 1'&#125;&#125;
			&lt;button class="av-button-icon"&gt; &#123;&#123;fa-icon "trash-o"&#125;&#125; &lt;/button&gt;
			&lt;button class="av-button-icon"&gt; &#123;&#123;fa-icon "pencil"&#125;&#125; &lt;/button&gt;
		&#123;&#123;/list-item&#125;&#125;
		&#123;&#123;#list-item content='List Item 2'&#125;&#125;
			&lt;button class="av-button-icon"&gt; &#123;&#123;fa-icon "trash-o"&#125;&#125; &lt;/button&gt;
			&lt;button class="av-button-icon"&gt; &#123;&#123;fa-icon "pencil"&#125;&#125; &lt;/button&gt;
		&#123;&#123;/list-item&#125;&#125;
		&#123;&#123;#list-item content='List Item 3'&#125;&#125;
			&lt;button class="av-button-icon"&gt; &#123;&#123;fa-icon "trash-o"&#125;&#125; &lt;/button&gt;
			&lt;button class="av-button-icon"&gt; &#123;&#123;fa-icon "pencil"&#125;&#125; &lt;/button&gt;
		&#123;&#123;/list-item&#125;&#125;
		&#123;&#123;#list-item content='List Item 4'&#125;&#125;
			&lt;button class="av-button-icon"&gt; &#123;&#123;fa-icon "trash-o"&#125;&#125; &lt;/button&gt;
			&lt;button class="av-button-icon"&gt; &#123;&#123;fa-icon "pencil"&#125;&#125; &lt;/button&gt;
		&#123;&#123;/list-item}}
	&lt;/ul&gt;
&lt;/div&gt;{{/code-block}}
</div>

<!-- Ungrouped, No Details, Checkable Items -->
<div class="component-title">Ungrouped, No details, Checkable List Items</div>
<div class="component-container">
	<div class="av-list-container">
		<h3 class="av-list-title">Title</h3>
		<ul>
			{{list-item content='List Item 1' checkable=true}}
			{{list-item content='List Item 2' checkable=true}}
			{{list-item content='List Item 3' checkable=true}}
			{{list-item content='List Item 4' checkable=true}}
		</ul>
	</div>
{{#code-block language='handlebars'}}
&lt;div class="av-list-container"&gt;
	&lt;h3 class="av-list-title"&gt;Title&lt;/h3&gt;
	&lt;ul&gt;
		&#123;&#123;list-item content='List Item 1' checkable=true&#125;&#125;
		&#123;&#123;list-item content='List Item 2' checkable=true&#125;&#125;
		&#123;&#123;list-item content='List Item 3' checkable=true&#125;&#125;
		&#123;&#123;list-item content='List Item 4' checkable=true&#125;&#125;
	&lt;/ul&gt;
&lt;/div&gt;{{/code-block}}
</div>


<!-- Ungrouped, Details, Checkable Items -->
<div class="component-title">Ungrouped, Details, Checkable List Items</div>
<div class="component-container">
	<div class="av-list-container">
		<h3 class="av-list-title">Title</h3>
		<ul>
			{{list-item content='List Item 1' checkable=true detail='Detail about the item'}}
			{{list-item content='List Item 2' checkable=true detail='Detail about the item'}}
			{{list-item content='List Item 3' checkable=true detail='Detail about the item'}}
			{{list-item content='List Item 4' checkable=true detail='Detail about the item'}}
		</ul>
	</div>
{{#code-block language='handlebars'}}
&lt;div class="av-list-container"&gt;
	&lt;h3 class="av-list-title"&gt;Title&lt;/h3&gt;
	&lt;ul&gt;
		&#123;&#123;list-item content='List Item 1' checkable=true detail='Detail about the item'&#125;&#125;
		&#123;&#123;list-item content='List Item 2' checkable=true detail='Detail about the item'&#125;&#125;
		&#123;&#123;list-item content='List Item 3' checkable=true detail='Detail about the item'&#125;&#125;
		&#123;&#123;list-item content='List Item 4' checkable=true detail='Detail about the item'&#125;&#125;
	&lt;/ul&gt;
&lt;/div&gt;{{/code-block}}
</div>

<!-- Grouped -->
<div class="component-title">Grouped</div>
<div class="component-container grouped-list">
	<div class="av-list-container">
		<h3 class="av-list-title">Title</h3>
		{{#expandable-list title="Users" icon="user"}}
			{{list-item content="List Item 1a"}}
			{{list-item content="List Item 2a"}}
			{{list-item content="List Item 3a"}}
			{{list-item content="List Item 4a"}}
		{{/expandable-list}}
		{{#expandable-list title="Groups" icon="group"}}
			{{list-item content="List Item 1b"}}
			{{list-item content="List Item 2b"}}
			{{list-item content="List Item 3b"}}
			{{list-item content="List Item 4b"}}
		{{/expandable-list}}
	</div>
{{#code-block language='handlebars'}}
&lt;div class="av-list-container"&gt;
	&lt;h3 class="av-list-title"&gt;Title&lt;/h3&gt;
	&#123;&#123;#expandable-list title="Users" icon="user"&#125;&#125;
		&#123;&#123;list-item content="List Item 1a"&#125;&#125;
		&#123;&#123;list-item content="List Item 2a"&#125;&#125;
		&#123;&#123;list-item content="List Item 3a"&#125;&#125;
		&#123;&#123;list-item content="List Item 4a"&#125;&#125;
	&#123;&#123;/expandable-list&#125;&#125;
	&#123;&#123;#expandable-list title="Groups" icon="group"&#125;&#125;
		&#123;&#123;list-item content="List Item 1b"&#125;&#125;
		&#123;&#123;list-item content="List Item 2b"&#125;&#125;
		&#123;&#123;list-item content="List Item 3b"&#125;&#125;
		&#123;&#123;list-item content="List Item 4b"&#125;&#125;
	&#123;&#123;/expandable-list&#125;&#125;
&lt;/div&gt;{{/code-block}}
</div>