<!-- Ungrouped, No Details -->
<div class="component-title">Ungrouped, No details</div>
<div class="component-container">
	<div class="av-list-container">
		<h3 class="av-list-title">Title</h3>
		<ul>
			<li class="av-list-item">List Item 1</li>
			<li class="av-list-item">List Item 2</li>
			<li class="av-list-item">List Item 3</li>
			<li class="av-list-item">List Item 4</li>
		</ul>
	</div>
	<div class="code-text">
		<div>
			<span class="code-tag">&lt;div </span>
			<span class="code-attribute">class=</span>
			<span class="code-attribute-value">"av-list-container"</span>
			<span class="code-tag">&gt;</span>
		</div>
		<div class="tab-1">
			<span class="code-tag">&lt;h3 </span>
			<span class="code-attribute"> class=</span>
			<span class="code-attribute-value">"av-list-title"</span>
			<span class="code-tag">&gt;</span>
			<span class="code-content">Title</span>
			<span class="code-tag">&lt;/h3&gt; </span>
		</div>
		<div class="tab-1">
			<span class="code-tag">&lt;ul&gt;</span>
		</div>
		<div class="tab-2">
			<span class="code-tag">&lt;li </span>
			<span class="code-attribute"> class=</span>
			<span class="code-attribute-value">"av-list-item"</span>
			<span class="code-tag">&gt;</span>
			<span class="code-content">List Item 1</span>
			<span class="code-tag">&lt;/li&gt;</span>
		</div>
		<div class="tab-2">
			<span class="code-tag">&lt;li </span>
			<span class="code-attribute"> class=</span>
			<span class="code-attribute-value">"av-list-item"</span>
			<span class="code-tag">&gt;</span>
			<span class="code-content">List Item 2</span>
			<span class="code-tag">&lt;/li&gt;</span>
		</div>
		<div class="tab-2">
			<span class="code-tag">&lt;li </span>
			<span class="code-attribute"> class=</span>
			<span class="code-attribute-value">"av-list-item"</span>
			<span class="code-tag">&gt;</span>
			<span class="code-content">List Item 3</span>
			<span class="code-tag">&lt;/li&gt;</span>
		</div>
		<div class="tab-2">
			<span class="code-tag">&lt;li </span>
			<span class="code-attribute"> class=</span>
			<span class="code-attribute-value">"av-list-item"</span>
			<span class="code-tag">&gt;</span>
			<span class="code-content">List Item 4</span>
			<span class="code-tag">&lt;/li&gt;</span>
		</div>
		<div class="tab-1">
			<span class="code-tag">&lt;/ul&gt;</span>
		</div>
		<div>
			<span class="code-tag">&lt;/div&gt;</span>
		</div>
	</div>
</div>

<!-- Ungrouped, No Details, Actionable -->
<div class="component-title">Ungrouped, No details, Actionable</div>
<div class="component-container">
	<div class="av-list-container">
		<div class="av-list-title-container">
			<h3 class="av-list-title">Title</h3>
			<button class="av-button">Add Item</button>
		</div>
		<ul>
			<li class="av-list-item">List Item 1</li>
			<li class="av-list-item">List Item 2</li>
			<li class="av-list-item">List Item 3</li>
			<li class="av-list-item">List Item 4</li>
		</ul>
	</div>
	<div class="code-text">
		<div>
			<span class="code-tag">&lt;div </span>
			<span class="code-attribute">class=</span>
			<span class="code-attribute-value">"av-list-container"</span>
			<span class="code-tag">&gt;</span>
		</div>
		<div class="tab-1">
			<span class="code-tag">&lt;div </span>
			<span class="code-attribute">class=</span>
			<span class="code-attribute-value">"av-list-title-container"</span>
			<span class="code-tag">&gt;</span>
		</div>
		<div class="tab-2">
			<span class="code-tag">&lt;h3 </span>
			<span class="code-attribute"> class=</span>
			<span class="code-attribute-value">"av-list-title"</span>
			<span class="code-tag">&gt;</span>
			<span class="code-content">Title</span>
			<span class="code-tag">&lt;/h3&gt; </span>
		</div>
		<div class="tab-2">
			<span class="code-tag">&lt;button </span>
			<span class="code-attribute"> class=</span>
			<span class="code-attribute-value">"av-button"</span>
			<span class="code-tag">&gt;</span>
			<span class="code-content">Add Item</span>
			<span class="code-tag">&lt;/h3&gt; </span>
		</div>
		<div class="tab-1">
			<span class="code-tag">&lt;/div&gt;</span>
		</div>
		<div class="tab-1">
			<span class="code-tag">&lt;ul&gt;</span>
		</div>
		<div class="tab-2">
			<span class="code-tag">&lt;li </span>
			<span class="code-attribute"> class=</span>
			<span class="code-attribute-value">"av-list-item"</span>
			<span class="code-tag">&gt;</span>
			<span class="code-content">List Item 1</span>
			<span class="code-tag">&lt;/li&gt;</span>
		</div>
		<div class="tab-2">
			<span class="code-tag">&lt;li </span>
			<span class="code-attribute"> class=</span>
			<span class="code-attribute-value">"av-list-item"</span>
			<span class="code-tag">&gt;</span>
			<span class="code-content">List Item 2</span>
			<span class="code-tag">&lt;/li&gt;</span>
		</div>
		<div class="tab-2">
			<span class="code-tag">&lt;li </span>
			<span class="code-attribute"> class=</span>
			<span class="code-attribute-value">"av-list-item"</span>
			<span class="code-tag">&gt;</span>
			<span class="code-content">List Item 3</span>
			<span class="code-tag">&lt;/li&gt;</span>
		</div>
		<div class="tab-2">
			<span class="code-tag">&lt;li </span>
			<span class="code-attribute"> class=</span>
			<span class="code-attribute-value">"av-list-item"</span>
			<span class="code-tag">&gt;</span>
			<span class="code-content">List Item 4</span>
			<span class="code-tag">&lt;/li&gt;</span>
		</div>
		<div class="tab-1">
			<span class="code-tag">&lt;/ul&gt;</span>
		</div>
		<div>
			<span class="code-tag">&lt;/div&gt;</span>
		</div>
	</div>
</div>

<!-- Ungrouped, No Details, Actionable, Actionable List Items -->
<div class="component-title">Ungrouped, No details, Actionable, Actionable List Items</div>
<div class="component-container">
	<div class="av-list-container">
		<div class="av-list-title-container">
			<h3 class="av-list-title">Title</h3>
			<button class="av-button">Add Item</button>
		</div>
		<ul>
			<li class="av-list-item">
				<span>List Item 1</span>
				<div class="button-container">
					<button class="av-button-icon">{{fa-icon "trash-o"}}</button>
					<button class="av-button-icon">{{fa-icon "pencil"}}</button>
				</div>
			</li>
			<li class="av-list-item">
				<span>List Item 2</span>
				<div class="button-container">
					<button class="av-button-icon">{{fa-icon "trash-o"}}</button>
					<button class="av-button-icon">{{fa-icon "pencil"}}</button>
				</div>
			</li>
			<li class="av-list-item">
				<span>List Item 3</span>
				<div class="button-container">
					<button class="av-button-icon">{{fa-icon "trash-o"}}</button>
					<button class="av-button-icon">{{fa-icon "pencil"}}</button>
				</div>
			</li>
			<li class="av-list-item">
				<span>List Item 4</span>
				<div class="button-container">
					<button class="av-button-icon">{{fa-icon "trash-o"}}</button>
					<button class="av-button-icon">{{fa-icon "pencil"}}</button>
				</div>
			</li>
		</ul>
	</div>
	<div class="code-text">
		<div>
			<span class="code-tag">&lt;div </span>
			<span class="code-attribute">class=</span>
			<span class="code-attribute-value">"av-list-container"</span>
			<span class="code-tag">&gt;</span>
		</div>
		<div class="tab-1">
			<span class="code-tag">&lt;div </span>
			<span class="code-attribute">class=</span>
			<span class="code-attribute-value">"av-list-title-container"</span>
			<span class="code-tag">&gt;</span>
		</div>
		<div class="tab-2">
			<span class="code-tag">&lt;h3 </span>
			<span class="code-attribute"> class=</span>
			<span class="code-attribute-value">"av-list-title"</span>
			<span class="code-tag">&gt;</span>
			<span class="code-content">Title</span>
			<span class="code-tag">&lt;/h3&gt; </span>
		</div>
		<div class="tab-2">
			<span class="code-tag">&lt;button </span>
			<span class="code-attribute"> class=</span>
			<span class="code-attribute-value">"av-button"</span>
			<span class="code-tag">&gt;</span>
			<span class="code-content">Add Item</span>
			<span class="code-tag">&lt;/h3&gt; </span>
		</div>
		<div class="tab-1">
			<span class="code-tag">&lt;/div&gt;</span>
		</div>
		<div class="tab-1">
			<span class="code-tag">&lt;ul&gt;</span>
		</div>

		// li 1
		<div class="tab-2">
			<span class="code-tag">&lt;li </span>
			<span class="code-attribute"> class=</span>
			<span class="code-attribute-value">"av-list-item"</span>
			<span class="code-tag">&gt;</span>
		</div>
		<div class="tab-3">
			<span class="code-tag">&lt;span&gt;</span>
			<span class="code-content">List Item 1</span>
			<span class="code-tag">&lt;/span&gt;</span>
		</div>
		<div class="tab-3">
			<span class="code-tag">&lt;div </span>
			<span class="code-attribute"> class=</span>
			<span class="code-attribute-value">"button-container"</span>
			<span class="code-tag">&gt;</span>
		</div>
		<div class="tab-4">
			<span class="code-tag">&lt;button </span>
			<span class="code-attribute"> class=</span>
			<span class="code-attribute-value">"av-button-icon"</span>
			<span class="code-tag">&gt;</span>
			<span class="code-content">&#123;&#123;fa-icon "trash-o"&#125;&#125;</span>
			<span class="code-tag">&lt;/button&gt;</span>
		</div>
		<div class="tab-4">
			<span class="code-tag">&lt;button </span>
			<span class="code-attribute"> class=</span>
			<span class="code-attribute-value">"av-button-icon"</span>
			<span class="code-tag">&gt;</span>
			<span class="code-content">&#123;&#123;fa-icon "pencil"&#125;&#125;</span>
			<span class="code-tag">&lt;/button&gt;</span>
		</div>
		<div class="tab-3">
			<span class="code-tag">&lt;/div&gt;</span>
		</div>
		<div class="tab-2">
			<span class="code-tag">&lt;/li&gt;</span>
		</div>

		// li 2
		<div class="tab-2">
			<span class="code-tag">&lt;li </span>
			<span class="code-attribute"> class=</span>
			<span class="code-attribute-value">"av-list-item"</span>
			<span class="code-tag">&gt;</span>
		</div>
		<div class="tab-3">
			<span class="code-tag">&lt;span&gt;</span>
			<span class="code-content">List Item 2</span>
			<span class="code-tag">&lt;/span&gt;</span>
		</div>
		<div class="tab-3">
			<span class="code-tag">&lt;div </span>
			<span class="code-attribute"> class=</span>
			<span class="code-attribute-value">"button-container"</span>
			<span class="code-tag">&gt;</span>
		</div>
		<div class="tab-4">
			<span class="code-tag">&lt;button </span>
			<span class="code-attribute"> class=</span>
			<span class="code-attribute-value">"av-button-icon"</span>
			<span class="code-tag">&gt;</span>
			<span class="code-content">&#123;&#123;fa-icon "trash-o"&#125;&#125;</span>
			<span class="code-tag">&lt;/button&gt;</span>
		</div>
		<div class="tab-4">
			<span class="code-tag">&lt;button </span>
			<span class="code-attribute"> class=</span>
			<span class="code-attribute-value">"av-button-icon"</span>
			<span class="code-tag">&gt;</span>
			<span class="code-content">&#123;&#123;fa-icon "pencil"&#125;&#125;</span>
			<span class="code-tag">&lt;/button&gt;</span>
		</div>
		<div class="tab-3">
			<span class="code-tag">&lt;/div&gt;</span>
		</div>
		<div class="tab-2">
			<span class="code-tag">&lt;/li&gt;</span>
		</div>

		// li 3
		<div class="tab-2">
			<span class="code-tag">&lt;li </span>
			<span class="code-attribute"> class=</span>
			<span class="code-attribute-value">"av-list-item"</span>
			<span class="code-tag">&gt;</span>
		</div>
		<div class="tab-3">
			<span class="code-tag">&lt;span&gt;</span>
			<span class="code-content">List Item 3</span>
			<span class="code-tag">&lt;/span&gt;</span>
		</div>
		<div class="tab-3">
			<span class="code-tag">&lt;div </span>
			<span class="code-attribute"> class=</span>
			<span class="code-attribute-value">"button-container"</span>
			<span class="code-tag">&gt;</span>
		</div>
		<div class="tab-4">
			<span class="code-tag">&lt;button </span>
			<span class="code-attribute"> class=</span>
			<span class="code-attribute-value">"av-button-icon"</span>
			<span class="code-tag">&gt;</span>
			<span class="code-content">&#123;&#123;fa-icon "trash-o"&#125;&#125;</span>
			<span class="code-tag">&lt;/button&gt;</span>
		</div>
		<div class="tab-4">
			<span class="code-tag">&lt;button </span>
			<span class="code-attribute"> class=</span>
			<span class="code-attribute-value">"av-button-icon"</span>
			<span class="code-tag">&gt;</span>
			<span class="code-content">&#123;&#123;fa-icon "pencil"&#125;&#125;</span>
			<span class="code-tag">&lt;/button&gt;</span>
		</div>
		<div class="tab-3">
			<span class="code-tag">&lt;/div&gt;</span>
		</div>
		<div class="tab-2">
			<span class="code-tag">&lt;/li&gt;</span>
		</div>

		// li 4
		<div class="tab-2">
			<span class="code-tag">&lt;li </span>
			<span class="code-attribute"> class=</span>
			<span class="code-attribute-value">"av-list-item"</span>
			<span class="code-tag">&gt;</span>
		</div>
		<div class="tab-3">
			<span class="code-tag">&lt;span&gt;</span>
			<span class="code-content">List Item 4</span>
			<span class="code-tag">&lt;/span&gt;</span>
		</div>
		<div class="tab-3">
			<span class="code-tag">&lt;div </span>
			<span class="code-attribute"> class=</span>
			<span class="code-attribute-value">"button-container"</span>
			<span class="code-tag">&gt;</span>
		</div>
		<div class="tab-4">
			<span class="code-tag">&lt;button </span>
			<span class="code-attribute"> class=</span>
			<span class="code-attribute-value">"av-button-icon"</span>
			<span class="code-tag">&gt;</span>
			<span class="code-content">&#123;&#123;fa-icon "trash-o"&#125;&#125;</span>
			<span class="code-tag">&lt;/button&gt;</span>
		</div>
		<div class="tab-4">
			<span class="code-tag">&lt;button </span>
			<span class="code-attribute"> class=</span>
			<span class="code-attribute-value">"av-button-icon"</span>
			<span class="code-tag">&gt;</span>
			<span class="code-content">&#123;&#123;fa-icon "pencil"&#125;&#125;</span>
			<span class="code-tag">&lt;/button&gt;</span>
		</div>
		<div class="tab-3">
			<span class="code-tag">&lt;/div&gt;</span>
		</div>
		<div class="tab-2">
			<span class="code-tag">&lt;/li&gt;</span>
		</div>

		<div class="tab-1">
			<span class="code-tag">&lt;/ul&gt;</span>
		</div>
		<div>
			<span class="code-tag">&lt;/div&gt;</span>
		</div>
	</div>
</div>